<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Contact Us</title>
	<!-- tamu icon logo on tab -->
	<link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Texas_A%26M_University_logo.svg/800px-Texas_A%26M_University_logo.svg.png" type="image/icon type">
  
	<link href="style.css" rel="stylesheet">
</head>

<body>

	<!-- navigaion bar-->
	<div id="navbar">
        <a href="home.html">Home</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact</a>
	</div>

	<h1 style="color:Maroon;"> Insert Text Heading Here <i class="fa fa-group" style="font-size:48px;color:Maroon"></i></h1>
</body>
  
</html>