<!DOCTYPE html>
<html>
<head>

	<link href="style.css" rel="stylesheet">

	<title>About Us</title>
	<!-- tamu icon logo on tab -->
	<link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Texas_A%26M_University_logo.svg/800px-Texas_A%26M_University_logo.svg.png" type="image/icon type">

<style>
body { 
   font-family: 'Trebuchet MS', sans-serif;
   background-color: #dcdcdc
} 
h1 {text-align: center;}
p {text-align: center;}

</style> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body> 

	<!-- navigaion bar-->
	<div id="navbar">
        <a href="home.html">Home</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact</a>
	</div>

<h1 style="color:Maroon;">About Us <i class="fa fa-group" style="font-size:48px;color:Maroon"></i></h1>

	
<br></br>
<h3><p>Claire Kelly</p></h3>
<i><p>Senior:Technology Management Student</p></i>
<a href=''><p style="text-align:center"><button>LinkedIn</button></a>

<br>
<h3><p>Irish Avorque</p></h3>
<i><p>Senior:Technology Management Student</p></i>
<a href='https://www.linkedin.com/in/irishavorque'><p style="text-align:center"><button>LinkedIn</button></a>

<br>
<h3><p>Juan Quiroz</p></h3>
<i><p>Senior:Technology Management Student</p></i>
<a href='https://www.linkedin.com/in/juan-q/'><p style="text-align:center"><button>LinkedIn</button></a>

<br> 
<h3><p> Mason Machicek</p></h3>
<i><p>Senior:Technology Management Student</p></i>
<a href=''><p style="text-align:center"><button>LinkedIn</button></a>

<br>
<h3><p> Paula Geronimo </p></h3>
<i><p>Senior:Technology Management Student</p></i>
<a href=''><p style="text-align:center"><button>LinkedIn</button></a>

<br>
<h3><p> Roxanna Duran </p></h3>
<i><p>Senior:Technology Management Student</p></i>
<h5><p> Future Cybersecurity Specialist</p></h5>
<center><img src="https://media-exp1.licdn.com/dms/image/C5603AQFgCTemK5eJXA/profile-displayphoto-shrink_200_200/0/1661983337344?e=1667433600&v=beta&t=PXNWylIAyKuBUFIPo_k8MOM7KoKbQC6MYC-e8bghyZ8" alt="Image" width="175" height="168"></center>


</body> 
</html>