<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Contact Us</title>
	<!-- tamu icon logo on tab -->
	<link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Texas_A%26M_University_logo.svg/800px-Texas_A%26M_University_logo.svg.png" type="image/icon type">
  
	<link href="style.css" rel="stylesheet">
</head>

	
	<h1> Contact Page </h1>
<body>

	<!-- navigaion bar-->
	<div id="navbar">
        <a href="home.html">Home</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact</a>
	</div>

	<h1 style="color:Maroon;"> Contact Us <i class="fa fa-group" style="font-size:48px;color:Maroon"></i></h1>
	
	<table>
  <tr>
    <th>Name</th>
    <th>Email Address</th>
    <th>Telephone Number</th>
  </tr>
  <tr>
    <td>Claire Kelly</td>
    <td>cek97@tamu.edu</td>
    <td>(979) 456-1234</td>
  </tr>
  <tr>
    <td>Irish Avorque</td>
    <td>irish.avorque@tamu.edu</td>
    <td>(979) 456-1235</td>
  </tr>
  <tr>
    <td>Juan Quiroz</td>
    <td>jquiroz@tamu.edu</td>
    <td>(979) 456-1236</td>
  </tr>
  <tr>
    <td>Mason Machicek</td>
    <td>m_machicek@tamu.edu</td>
    <td>(979) 456-1237</td>
  </tr>
  <tr>
    <td>Paula Geronimo</td>
    <td>geronimo@tamu.edu</td>
    <td>(979) 456-1238</td>
  </tr>
  <tr>
    <td>Roxanna Duran</td>
    <td>roxannaduran@tamu.edu</td>
    <td>(979) 456-1239</td>
  </tr>
</table>
	
</body>
  
</html>
